<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:theme="@style/Base.Theme.TamanBacaan"
        tools:targetApi="tiramisu">

        <activity
            android:name=".activities.LoginActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.TamanBacaan"
            android:windowSoftInputMode="adjustPan"> <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <activity android:name=".activities.RegisterActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.TamanBacaan"
            android:windowSoftInputMode="adjustPan"/> <activity
        android:name=".activities.MainActivity"
        android:exported="false"
        android:theme="@style/Base.Theme.TamanBacaan"
        android:windowSoftInputMode="adjustPan"> </activity>

        <activity android:name=".activities.AdminActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.TamanBacaan"
            android:windowSoftInputMode="adjustPan"/> </application>
</manifest>